.p-v-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-l-60 {
  padding-left: 60px;
}

.p-l-85 {
  padding-left: 85px;
}

.p-t-265 {
  padding-top: 265px;
}

.m-t-16 {
  margin-top: 16px;
}

.m-t-24 {
  margin-top: 24px;
}

.m-b-102 {
  margin-bottom: 102px;
}

.m-l-12 {
  margin-left: 12px;
}

.m-l-26 {
  margin-left: 26px;
}

.m-t-18 {
  margin-top: 18px;
}