/*
 * Remove the gap between embedded content and the bottom of their containers.
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * 1. Add responsiveness.
   * 2. Auto-scale the height. Only needed if `height` attribute is present.
   * 3. Corrects responsive `max-width` behavior if padding and border are used.
   * 4. Exclude SVGs for IE11 because they don't preserve their aspect ratio.
   */
canvas,
img,
video {
  /* 1 */
  max-width: 100%;
  /* 2 */
  height: auto;
  /* 3 */
  box-sizing: border-box;
}

img:not([src]) {
  /* 1 */
  min-width: 1px;
  /* 2 */
  visibility: hidden;
}

/*
  * Iframe
  * Remove border in all browsers
  */
iframe {
  border: 0;
}

* {
  box-sizing: border-box;
}

// ::selection {
//   background: ;
//   color: ;
//   text-shadow: none;
// }

input,
select,
textarea {
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  font: inherit;
  -webkit-appearance: none;
  max-width: 100%;
  width: 100%;
  border: 0 none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
}

body,
html {
  min-height: 100vh;
  color: #000;
}

// Fonts
.tt-uppercase {
  text-transform: uppercase;
}

// Header
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 48.07%;
  z-index: 5;
}

// Sections
.main-section {
  background-color: tomato;
  min-height: 100vh;

  &#section-1 {
    background-color: aquamarine;
  }

  &#section-2 {
    background-color: wheat;
  }

  &#section-3 {
    background-color: cadetblue;
  }
}

.content-list {
  & > li {
    min-height: 100vh;
  }
}

.fadeOut {
  opacity: 0;
  height: 0 !important;
  top: 100% !important;
  transition: opacity 0.4s, top 0.6s;
}

.fadeIn {
  opacity: 1;
  height: auto !important;
  top: 0 !important;
  transition: opacity 0.4s, top 0.6s;
}

.bg-imgs {
  position: relative;

  li {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#step-4 {
  min-height: 100vh;
  position: relative;

  & > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


input {
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}


.blockquote-box {
  position: absolute;
  top: 295px;
  left: 132px;
}

.container {
  max-width: 775px;
  width: 100%;
}

.b-b-1 {
  border-bottom: 1px solid rgba(185, 180, 196, 0.3);
}

.step-list {
  display: flex;
  align-items: center;
  margin-left: -77px;
  margin-bottom: 60px;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 77px;
  }

  span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #212529;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E5E6E8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.inactive {
      background: #F5F5F5;
      color: #95939A;
    }

    &.active {
      background: #E9FAF1;
      border: 1px solid #E9FAF1;
      transition: 0.2s;
    }

    &.done {
      background: #E9FAF1;
      border: 1px solid #E9FAF1;
      transition: 0.2s; 
      background-image: url('../img/check.svg');
      background-size: 23px 13px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-top: 4px;
  }
}

.input-box {
  position: relative;

  input {
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #212529;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;

    &.alert  {
      background: #FFEFEF;
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
      transition: 0.3s;

      & ~ label {
        background: #FFEFEF;
        transition: 0.3s;
      }
    }

    &.flyLabel ~ label {
      opacity: 0 !important;
      bottom: -30px;
      pointer-events: none;
      transition: 0.2s;
    }

    &:focus ~ label {
      opacity: 0;
      bottom: -30px;
      pointer-events: none;
      transition: 0.2s;
    }

    &:focus {
      background: #E9ECEF;
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
      transition: 0.2s;
    }

    &::placeholder {
      display: none;
    }
  }
}

label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #212529;
  position: absolute;
  left: 16px;
  bottom: 8px;
  right: 100px;
  background: #FFF;
  cursor: pointer;

  span {
    color: #DC3545;
  }
}

.check  {
  position: absolute;
  right: 18px;
  bottom: 2px;
  height: 44px;
  display: flex;
  align-items: center;
  pointer-events: none;
  transition: opacity 0.3s;

  &.hide {
    opacity: 0;
    transition: 0.3s;
  }
}

#dateInput ~ .check {
  background: #FFF;
}

#dateInput:focus ~ .check {
  opacity: 0;
  transition: 0.01s;
}